
ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}
.question {
    color: darkred;
}
.jumbotron{
    background-color: rgb(221, 218, 218);
    box-shadow: 3px 3px 5px maroon;
    text-align: center;
}
.query{
    display: flex;
    padding: 5px;
    box-shadow: 3px 3px 5px maroon;
    justify-content: space-around;
}
/* Month header */
.month {
  width: 100%;
  background: hsl(0, 0%, 100%);
  text-align: center;
}

/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: rgb(255, 255, 255);
  font-size: 20px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 1px;
  border: solid white 1px;
}

/* Next button */
.month .next {
  float: right;
  padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color:#ddd;
}

/* Days (1-31) */
.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

/* Highlight the "current" day */
.days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white !important
}
#final-results{
    display: inherit;
}